body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url('pics/ezgif.com-video-to-gif.gif');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}


table {
    width: 94%;
    background-color: white;
    border: solid red 1px;
}

.borderCollaps{
    border-collapse: collapse;
}


tr {
    display: flex;
    justify-content: space-around;
    width: 100%;
}


#detailTable th {
    text-align: center;
    border: solid rgb(255, 30, 0) 1px;
    width: 50%;
}


#attackContainer table tr{
    border: solid black 1px;
}


#pokedex {
    min-height: 100px;
    background-color: rgb(221, 65, 65);
    padding: 15px;
}


#attackContainer{
    min-width: 200px;
    max-width: 200px;
    max-height: 450px;
    overflow-y: scroll;
    background-color: white;
    display: none;
    margin-left: -201px;
    margin-top: -350px;
    z-index: 6;
}


#pokedex h1 {
    margin: 0;
    color: white;
}


#pokemonContainer {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}


.pokeNameDesigne {
    background-color: rgb(255, 81, 0);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}


.pokeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    max-width: 300px;
    cursor: pointer;
    transition: 125ms;
    background-color: rgba(58, 105, 190, 0.589);
    margin: 5px;
    color: white;
    border-radius: 10px;
}


.pokeContainer:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    max-width: 300px;
    cursor: pointer;
    background-color: rgba(196, 233, 255, 0.438);
    transition: 125ms;
    color: white;
}


#centerOverAll {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.219);
}


#pokeDetailCard {
    display: none;
    min-width: 350px;
    max-width: 350px;
    min-height: 450px;
    max-height: 100vh;
    background-color: rgb(255, 255, 255);
    background-image: url('pics/pokeCardBackground.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 5;
    overflow: hidden;
    margin-top: -350px;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
}


#attackBtnContainer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


#closeAttack{
    position: fixed;
    z-index: 10;
    background-color: red;
    cursor: pointer;
    padding: 0px 8px;
    border-radius: 50px;
}


#closeAttack:hover{
    position: fixed;
    z-index: 10;
    background-color: rgb(255, 85, 85);
    cursor: pointer;
    padding: 0px 8px;
}

#attackTable{
    background-color: #ffffff;
}

#stats{
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 10;
    width: 350px;
    margin-top: 361px;
    display: none;
    flex-direction: column;
    padding: 10px;
    
}


#pokeDetailCard table {
    position: absolute;
    bottom: 0;
}


#IDContain {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 0, 0);
    width: 30%;
    border-radius: 10px;
}


#pokeDetailCard hr {
    margin-top: 0;
}


#detailName {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    background-color: rgb(253, 0, 34);
    border-radius: 10px;
}


#closeDetailCard {
    cursor: pointer;
    position: relative;
    margin: 0;
}


#closeDetailCard:hover {
    cursor: pointer;
    position: relative;
}


#closeX {
    position: absolute;
    right: 10px;
    background-color: red;
    padding: 5px 15px;
}


#closeX:hover {
    position: absolute;
    right: 10px;
    background-color: rgb(255, 131, 131);
    padding: 5px 15px;
}


#closeAttacks{
    background-color: red;
    position: fixed;
    width: 181px;
}


#closeAttacks:hover{
    background-color: rgb(252, 111, 111);
    cursor: pointer;
}


#pokeDetailPic {
    width: 50%;
}


#pokeDetailPicContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('mp3/ezgif.com-video-to-gif.gif');
    background-size: 180%;
    background-position-y: -160px;
}


#loadingBarContainer {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}


#arrowContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.arrow {
    cursor: pointer;
    background-color: rgb(207, 64, 64);
    padding: 5px;
    border-radius: 20px;
    transition: 125ms;
}


.arrow:hover {
    cursor: pointer;
    background-color: rgb(43, 255, 0);
    padding: 5px;
    border-radius: 20px;
    transition: 125ms;
}


#loadMoreButton{
    width: 100%;
    margin-top: 50px;
}


#searchedPokemonContainer{
    position:fixed;
    left: 0;
    height: 100%;
    width: 100%;
    display: none; /*standart none*/
    justify-content: center;
    align-items: center;
    background-image: url('pics/pokedexBackground.jpg');
    background-position: center;
    top: 0;
}


#loadingScreen{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('pics/simple_pokeball.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    display: none;
}

@media screen and (max-width: 767px) {


    .pokeContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 300px;
        max-width: 300px;
        cursor: pointer;
    }


    .pokeContainer:active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 300px;
        max-width: 300px;
        cursor: pointer;
        background-color: rgb(135, 255, 23);
        transition: 125ms;
    }


    #pokeDetailCard {
        display: none;
        min-width: 320px;
        max-width: 320px;
        min-height: 450px;
        max-height: 100vh;
        background-color: white;
        position: relative;
        background-color: rgb(230, 227, 102);
    }


    #stats{
        background-color: rgb(205, 216, 110);
        position: absolute;
        z-index: 10;
        width: 320px;
        margin-top: 340px;
        display: none;
        flex-direction: column;
        border: solid black 1px;
    }
}